textarea.form-control { height: 200px; }

.table tbody td { cursor: pointer; }
.table tbody td:last-child,
.table tbody td:nth-child(2) { cursor: auto; }

.well.justificativa { background-color: #FFF; font-size: 15px; }

th.actions { width: 110px; }

.counter-letters { border-radius: 0; }

.progress { margin: 10px 0; }

.uploaded { margin-top: 10px; }

.trashed td { text-decoration: line-through; }

.button-revisao {background-color: #8053BA; color: #FFF ; opacity: 0.9 }

.button-revisao:hover { opacity: 1; color: #0f0f0f}