table.table td,
table.table th { vertical-align: middle !important; }

table.table tbody tr:hover { background-color: #F3F3F4; color: #333; }
table.table tbody tr[data-url]:hover { cursor: pointer; }

.form-group label { cursor: pointer; }

input, select, textarea { border-radius: 0px !important; }

table.table { max-width: 100%;  }